# Visual Studio
.vs/
*.user
*.suo
*.userosscache

# Build
bin/
obj/
Debug/
Release/

# NuGet
packages/
*.nupkg

# IDE
.idea/
.vscode/

# Compiled
*.dll
*.pdb
*.exe
*.exe.config

# MSBuild
*.g.props
*.g.targets
*.cache
*.assets

# Runtime
*.genruntimeconfig.cache