{
  "ConnectionStrings": {
    "cadena_conexion": "Server=.\\SQLEXPRESS;Database=inmogestor_new_db;Integrated Security=true;TrustServerCertificate=true;"
  },
  "Jwt": {
    "Key": "REEMPLAZA_CON_UNA_CLAVE_SECRETA_DE_AL_MENOS_32_CARACTERES",
    "Issuer": "InmoGestor"
  },
  "AllowedHosts": "*"
}
